# **Milestone 3 - Great Expectation (Super Market Sales Data)**

---

Nama : Aria Ananda  
Batch : HCK013

**Objective**  

This notebook aims to do data validation using great expectations on Super Market Sales Data.

In [1]:
# Install GX library

# !pip install -q great-expectations

**Explanation**  

Code above is used to install great expectations for data validation

# **1. Initiate Data Context**

In [2]:
# Create a data context
from great_expectations.data_context import FileDataContext
context = FileDataContext.create(project_root_dir='./')

**Explanation**  

Code above creates a Great Expectations data context with a file-based configuration in the specified project directory.

# **2. Connect to a Data Source**

In [3]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'csv-super-market-sales'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'super-market-sales'
path_to_data = 'P2M3_aria_ananda_data_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

**Explanation**  

Code above defines a data source named 'csv-super-market-sales' with a CSV data asset named 'super-market-sales' and prepares a batch request for the asset.

# **3. Create an Expectation Suite**

In [4]:
# Creat an expectation suite
expectation_suite_name = 'expectation-super-market-dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05 00:00:00,1900-01-01 13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08 00:00:00,1900-01-01 10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03 00:00:00,1900-01-01 13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27 00:00:00,1900-01-01 20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08 00:00:00,1900-01-01 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

**Explanation**  

Code above creates an expectation suite named 'expectation-super-market-dataset', adds or updates it in the data context, creates a validator using the expectation suite for the specified batch request, and displays the head of the validation results.

The output displays the result of calculating metrics for the validation process. In this case, it shows that the calculation is complete, and it provides information about the progress (100% completion) and the time taken for the calculation. It indicates that 1 out of 1 batches have been processed.

# **4. List of Expectations**

### **Expectation 1** - column `invoice_id` must be unique

In [5]:
# Expectation 1 - Column `invoice_id` must be unique
validator.expect_column_values_to_be_unique('invoice_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

**Explanation**  

In this dataset, each row must have a unique identifier to ensure individuality and distinguishability. The column 'invoice_id' serves as this unique identifier, and it's essential that its values remain distinct for every row. As demonstrated earlier, the expectation set for this column is met successfully, affirming the uniqueness of its values.

### **Expectation 2** - column `rating` must be between min 1 - max 10

In [6]:
# Expectation 2 - Column `rating` values need to be between 1 to 10
validator.expect_column_values_to_be_between(
    column='rating', min_value=1, max_value=10
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

**Explanation**  

Within the dataset, there exists a column named 'rating.' It's crucial that the values within this column maintain significance within the context of supermarket sales by adhering to certain criteria. Specifically, these values should neither be negative nor exceed the maximum rating of 10, with the lowest acceptable rating set at 1. Upon examination using GX, it's confirmed that the 'rating' column values appropriately range between 1 and 10, aligning with the defined criteria.

### **Expectation 3** - column  `gender` must include both gender set

In [7]:
# Expectation 3 - Column `gender` needs to include both gender (male and female)
validator.expect_column_values_to_be_in_set(
    column='gender', value_set=['Male', 'Female']
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

**Explanation**  

It is anticipated that the 'gender' column containing data representing both genders, male and female, as they constitute the brand's target market. This inclusivity within the dataset enhances its ability to accurately reflect the broader market demographics. Upon review, it is verified that the 'gender' column indeed contains entries for both males and females, thus fulfilling the established expectation.

### **Expectation 4** - column `unit_price` must be numerical datatype

In [8]:
# Expectation 4 - Column `unit_price` must be in numerical values
validator.expect_column_values_to_be_in_type_list(
    column='unit_price', type_list=['int', 'float']
)

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

**Explanation**  

The 'unit_price' column is anticipated to contain numerical values, reflecting monetary amounts, which is crucial for accurate processing as purchases are typically expressed in numerical terms. Ensuring the numerical data type of the column values is essential for proper handling. Upon examination, it is verified that all entries in the column are numerical (float64), consistent with the expected data type.

### **Expectation 5** - column `product_line` must have distinct values equals to expected list

In [9]:
'''
Expectation 5 - Column 'product_line' distinct values needs to equals
the following list: ['Health and beauty', 'Electronic accessories', 'Home and lifestyle', 
'Sports and travel', 'Food and beverages', 'Fashion accessories'] 
'''
validator.expect_column_distinct_values_to_equal_set(
    column='product_line',
    value_set=['Health and beauty', 'Electronic accessories', 'Home and lifestyle', 
'Sports and travel', 'Food and beverages', 'Fashion accessories']
)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      "Electronic accessories",
      "Fashion accessories",
      "Food and beverages",
      "Health and beauty",
      "Home and lifestyle",
      "Sports and travel"
    ],
    "details": {
      "value_counts": [
        {
          "value": "Electronic accessories",
          "count": 170
        },
        {
          "value": "Fashion accessories",
          "count": 178
        },
        {
          "value": "Food and beverages",
          "count": 174
        },
        {
          "value": "Health and beauty",
          "count": 152
        },
        {
          "value": "Home and lifestyle",
          "count": 160
        },
        {
          "value": "Sports and travel",
          "count": 166
        }
      ]
    }
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

**Explanation**  

It is anticipated that the distinct values in the 'product_line' column correspond precisely to the specified list: Health and beauty, Electronic accessories, Home and lifestyle, Sports and travel, Food and beverages, Fashion accessories. This criterion ensures that the dataset's categories precisely match the supermarket's product lines, restricting them to the expected types. Upon review, it is verified that the column exclusively comprises values from this predetermined list, signifying alignment with the expectation.

### **Expectation 6** - columns `total` values must be greater than `unit_price`

In [10]:
# Expectation 6 - columns `total` values must be greater than `cogs`
validator.expect_column_pair_values_A_to_be_greater_than_B(
    column_A='total', 
    column_B='unit_price'
)

Calculating Metrics:   0%|          | 0/7 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

**Explanation**  

In this dataset, there are two columns, 'total' representing the total revenue from each item, and 'unit_price' representing the total price of each product. The 'total' column is crucial to be greater than 'unit_price' to maintain a valid data outcome. Upon inspection using GX, it is evident that the 'total' column exceeds the unit prices, indicating a validated total revenue. This validation ensures that the revenue generated from sales, which is essential for profitability analysis.

### **Expectation 7** - dataset must have more than 10 columns

In [11]:
# Expectation 7 - dataset must have more than 10 columns
validator.expect_table_column_count_to_be_between(
    min_value=10
)

Calculating Metrics:   0%|          | 0/3 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 17
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

**Explanation**  

This dataset need to at least have more than 10 columns because In-depth exploratory data analysis (EDA) of supermarket sales data benefits from having more than 10 columns. A richer dataset enables comprehensive examination of product performance, customer demographics, sales trends, and customer preferences. With a diverse set of variables, we can uncover correlations, patterns, and anomalies for informed decision-making. Therefore, ensuring the presence of over 10 columns through data validation is essential for insightful EDA of supermarket sales data.

# **5. Saving into Expectations Suite**

In [12]:
# Save into Expectation Suite
validator.save_expectation_suite(discard_failed_expectations=False)

**Explanation**  

In conclusion, we will store those expectations rule in the expectation suite